@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <table id="jstable" class="table table-striped border">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Value</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/jstable.js"></script>
}